.list-shoes{
    height: 250px;
    overflow: scroll;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
.payment-shoes{
    height: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;

}
.cart-layout{
    height: 700px;
}