.chat-frame{
    position: absolute;
    bottom: 0px;
    right: 20px;
    .content{
        position: relative;
        background-color: white;
        overflow: scroll;
       
        width: 300px;
       border-top-left-radius: 15px;
       border-top-right-radius: 15px;
    }
    .item{
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 0px;
    }
}
