.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.login-item {
  text-align: center;
}
.header {

 
  .title {
    position: relative;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    img {
        position: absolute;
        width: 15vw;
        bottom: 2vh;
        }
  }
}
